/* HTML */
html{
    background-image: url("background.jpg");
    width: 100%;
    background-attachment: fixed;
}


/*Title */
h1{
    font-family: 'Great Vibes', cursive;
    width: 75%;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-bottom-right-radius: 20px;
    background-color:rgb(254, 236, 255); 
    padding: 15px;
    font-size: 50px;
    padding-left: 30px;
}
h6{
    font-size: 30px;
    font-family: 'Noto Sans TC', sans-serif;
}
p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

/* Navigation Bar */
nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: auto;
    background-image: linear-gradient(rgb(254, 221, 255), rgb(207, 236, 255));
    height: 100%; 
    position: fixed; 
    overflow: auto; 
    right: 0px;
    border-left: 1px solid black;
}
nav img{
    padding: 5px;
    border-bottom: 1px solid black;
}
nav li:hover{
    background-color: rgba(124, 124, 124, 0.239);
}

/* Tags */
div#tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
div#tags li {
  float: left;
}
div#tags li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Body */
body{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 75%;
    margin: auto;
    background: rgb(207, 236, 255);
}

/* Websites */
div#sites img{
    width: 25%;
}

/* Art */
div#art img{
    width: 20%;
}
div#art{
    padding: 10px;
}
/* Other */
div{
    text-align: center;

}
p#line{
    width: 75%;    
    height: 1px;
    background-color: black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
div#tags img, nav img{
    width: 35px;
    height: 35px;
}